# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/

# Data & models
data/
*.zip
*.pth
*.pt
*.h5
*.pkl

# IDE
.vscode/
.idea/
.DS_Store

# Logs & results
logs/
wandb/
reports/
results/
